@import "../../variables";
 
.Header {
  padding: 1rem;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  background: #09203f;
 
  >div {
    flex: 1 0 300px;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
  }
 
  .Bottons {
    
    justify-content: flex-end;
    color: #eee;
    font-size: 35px;
    margin-right: 2rem;

    ul{
      list-style-type: none;


      li{
        float: right;
        padding: 0 4px;
        text-align: center;
        width: 2.5em;
        padding: 0 20px;

        a{
          cursor: pointer;
          text-decoration: no;
          gap: 5rem;
        }
      }
    }
  }
 
  figure {
    width: 64px;
    height: 64px;
 
    img {
      width: 100%;
      height: 100%;
    }
  }
 
  h1 {
    color: $theme-light-color;
    font-family: 'Poppins';
    font-weight: 900;
    font-display: swap;
    font-size: 40px;
  }
 
  button {
    padding: 0.5rem 1rem;
 
    font-family: "Poppins";
    font-weight: 400;
    color: $theme-light-color;
 
    background: $theme-accent-color;
    border: none;
    border-radius: 0.5rem;
 
    cursor: pointer;
    transition: all ease-in-out 250ms;
 
    &:hover,
    &:focus {
      transform: scale(1.05) rotateZ(2deg);
    }
  }
 
}
 